mixin select(className, options, selectedOption)
    select(class=`${className}`)
        each option in options
            if option === selectedOption
                option(value=`${option}` selected)= option
            else
                option(value=`${option}`)= option


mixin triangleLeft(page)
    svg.triangle(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 1000 100', preserveaspectratio='none' class=`triangle--left-${page}`)
        polygon(points='0,0 0,105 1000,105 1000, 95')

mixin triangleRight(page)
    svg.triangle(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 1000 100', preserveaspectratio='none' class=`triangle--right-${page}`)
        polygon(points='0,105 1000,105 1000,0 0,95')
